<h1>Click an Artist to View Content</h1>
<hr />
<%= link_to "Create a new artist", new_billboard_artist_path(@billboard) %>
<ul>
  <% @artists.each do |a| %>
    <li><%= link_to t.name, billboard_artist_path(@billboard, a) %></li>
  <% end %>
</ul>